@model IEnumerable<WebApp.Models.Listing>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach(var listing in Model){
        <div>
            @Html.DisplayFor(listingModel => listing.Name)
        </div>
    }
</div>
